@import '../../mainStyles';

.slick-slider{
    .slick-list{
        overflow: visible;  margin: 10px 0;

        .slick-track{ 
            display: flex; flex-direction: row; gap: $smaller-gap; 

            .backdrop{
                width: 100%; height: clamp(170px, 25vw ,600px); background-color: #212121;
                border-radius: 5px;
                

                &:hover{  outline: 3px solid $primary-red; }
                
                img{ 
                    inline-size: 100%; object-fit: cover; height: inherit; 
                    position: relative; border-radius: 5px; filter: brightness(70%);
                }

                .title-wrapper{ 
                    position: relative;  bottom: .5rem;  margin-top: auto;
                    font-weight: 600; font-size: clamp(1.1rem, 5vw, 2.3rem);
                    margin-inline: 1rem; z-index: 3; display: block; line-height: 1.3;

                
                        @media screen and (max-width: 850px){
                            word-break: break-word;
                        }
                    
                }

            }
        }
    }

    button{ display: none !important; }
}
