@import '../../mainStyles'; 

.fullscreen-video-wrapper{
    position: fixed; z-index: 2500; top: 0; left: 0;
    width: $background-width; height: $background-height;
    background: $primary-black; display: grid; place-items: center;

    .back-arrow{ 
        position: absolute; top: 1rem; left: 0;
        height: 4%; width: 4%; color: $color-white; 
    }

    .fullscreen-video-player{
        pointer-events: none;
    }

    .player-error-message{
        max-width: 500px; color: $color-white; text-align: center;
    }
}