$background-width: 100vw; $background-height: 100vh;

//font-sizes
$ft-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
$ft-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
$ft-xxs: 12px;
$ft-xs: 13px;
$ft-sm: 14px;
$ft-md: 1rem;
$ft-lg: 18px;
$ft-xl: 20px;
$ft-xxl: 22px;
$ft-heading: 2rem;
$spacing: 1rem;


*,*::before,*::after{ padding:0; margin:0; }

body{ background: #151515; font-family: $ft-sans; width: 100vw; overflow: hidden; line-height: 1.5;}

.big-heading{font-size: clamp(30px, 4vw, 60px);}
.stacked{display: grid;}
.stacked > * {grid-column: 1 / 2; grid-row: 1 / 2;}

#hero{
    height: calc(100vh - 4rem); 
    
    .media-details{ 
        display: flex; align-items: center;
        height: 100%; width: 70%; color: #fff;

        .media-details-inner{ 
            display: flex; flex-direction: column; gap: 1rem;

            .media-studio h1{ font-size: clamp($ft-md, 5vw, $ft-lg); font-weight: 400; font-family: $ft-mono;}
            .media-name{ width:auto; word-break: normal;}
        }
    }
    

    .media-container{
        flex-grow: 1;

        ::-webkit-scrollbar{display: none; -ms-overflow-style: none; scrollbar-width: none; }
        .media-row:hover .media-poster{ transform: translateX(-25%);}
        .media-poster:hover ~ .media-poster {transform: translateX(25%);}

        .title-wrapper{ position: absolute;}

        .media-row{
            .media-poster{ 
                margin: 0 2px; transition: transform 300ms ease 100ms;
                display: grid; place-content: center;

                .media-poster-content{
                    color: #fff; line-height: 1.5; align-self: end;  margin-left :.5rem;
                    padding: 0  0  .5rem .5rem; display: grid;
                    visibility: hidden; z-index: 2;

                    .media-poster-media_type-details{
                        display: flex; gap: 1rem; 

                        .media-rating{
                            background: #fff; color:#000; border-radius: 5px;
                            padding: 0 .3rem;  display: grid; place-items: center;
                        }
                        .media-poster-media_type{ color: #46D369; }
                    }

                    .media-genres{
                        padding: 1rem 1rem 0rem;
                        // .genre-list{ display: flex; }
                    }
  
                }
            }
            .media-poster:hover { border: 1px solid white; transform: scale(1.4) !important;}
            .media-poster:hover .media-poster-content{ position: relative; visibility: visible;}
            .media-poster:hover .media-poster-image{  
                filter: brightness(40%); 
                
            }
            // .media-poster:hover > .overlay {
            //     width:100%;
            //     height:100%;
            //     // margin-left: 0.5rem;
            //     // position:absolute;
            //     background-color:#000;
            //     opacity:0.5;
            // }
        }
        
    }
    
    
}