@import '../../mainStyles';

.slick-slider{
    .slick-list{
        overflow: visible;  margin: 10px 0;

        .slick-track{ 
            display: flex; flex-direction: row; gap: $smaller-gap; 

            .backdrop{
                width: 100%; height: clamp(170px, 25vw ,600px); background-color: #212121;
                border-radius: 5px;
                

                &:hover{  outline: 3px solid $primary-red; }
                
                img{ 
                    inline-size: 100%; object-fit: cover; height: inherit; 
                    position: relative; border-radius: 5px; filter: brightness(70%);
                }

                // .title-wrapper{ 
                //     position: absolute; bottom: 1rem; font-weight: 600; font-size: 1.2rem;
                //     margin-inline: 1rem; z-index: 3; display: block; 

                
                //         @media screen and (max-width: 850px){
                //             overflow-wrap: break-word;
                //         }
                    
                // }

            }
        }
    }

    button{ display: none !important; }
}
