.media-container{
    flex-grow: 1;

    .title-wrapper{ position: relative;}

    .media-row{
        cursor: grab; scroll-snap-type: mandatory; 
        
        .media-poster{ 
            margin: 0 0px; transition: transform 300ms ease;
            display: grid; place-content: center; 
            transform: perspective(30rem) rotateY(30deg) translateX(2rem);
            scroll-snap-align: start; border-radius: 10px; filter: brightness(50%);

            // &:hover {  
            //     .media-poster-content{ position: relative; visibility: visible;}
            // }

        
            .media-poster-content{
                color: #fff; line-height: 1.5; align-self: end;  margin-left :.5rem;
                padding: 0  0  .5rem .5rem; display: grid;
                visibility: hidden; z-index: 2; 

                .media-poster-media_type-details{
                    display: flex; gap: 1rem; 

                    .media-rating{
                        background: #fff; color:#000; border-radius: 5px;
                        padding: 0 .3rem;  display: grid; place-items: center;
                    }
                    .media-poster-media_type{ color: #46D369; }
                }

                .media-genres{
                    margin: 0 auto;

                    .genre-list{ 
                        display: flex;  gap:1rem; 
                        list-style: none; padding: 0; 

                        .genre-text{ padding: .2rem; border: 1px solid #262a34; border-radius: 10px; background:#262a34; }
                    }
                }

            }
        }

        .active-poster{ 
            margin: 0 1rem; filter: brightness(100%);
            transform: perspective(0) rotateY(0deg); 
            transition: transform  outline 300ms ease-in-out 100ms;

            // position: fixed;

            &>img{outline: 3.5px solid #4447E2;}
        }

       
        
        .active-poster ~ .media-poster{ transform: perspective(30rem) rotateY(-30deg) translateX(-2rem);}
        
        // .media-poster:hover { transform: scale(1.35) !important;}
        // .media-poster:hover .media-poster-content{ position: relative; visibility: visible;}
        // .media-poster:hover .media-poster-image{ filter: brightness(40%); }
        
    }
    
}