@import '../../mainStyles';

.billboard{

    width: 100%; height: 80vh; display: grid; position: relative;
    background-size: cover !important; background-position: center center !important;
    margin: 0 0 3% 0; 

    @media screen and (min-width: 1200px) { height: 90vh; }


    &::before{
        content: ''; pointer-events: none; z-index: 2;
        position: absolute; height: 100%; width: 60%; left: 0;
        background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.6) 90%)
    }

    &__fade-top{ 
        position: absolute; left:0; top: 0rem; padding: 0; margin:0;
        width: 100%; height: 7.4rem; background-image: linear-gradient(360deg,transparent,rgba(37,37,37,.51),$primary-black); 
    }

    &__video-wrapper{
        position: absolute;  width: 100%; height: 100%; 
        .billboard__video-container{
            pointer-events: none;
        }
    }

    &__sub-header{
        font-size: 24px; line-height: 38px; font-weight: 400;
        color: $color-white; width: 100%;
        display: flex; align-items: center; justify-content: center; gap: 50px;
        position: absolute; top: 4rem; z-index: 10;

        .genre-details{
            
            a{
                text-decoration: none;

                &:link,
                &:visited { color: $color-white;}

                .bread-crumb{  font-size: 23px; color: grey; padding-right: 10px; font-weight: 400; line-height: 1.2; }
                
            }

        }

        @media screen and (min-width: 750px){ width: auto; padding-left: 3%;}
        @media screen and (min-width: 1200px){ 
            top: 2rem;
            font-size: 38px; line-height: 38px; font-weight: 700;
            margin-right: 15px; color: $color-white; gap: 50px;
            padding-left: 3%; display: flex; align-items: center; 
            position: absolute; top: 6rem; z-index: 10; width: auto;
        }
    }

    &__cta-text-wrapper{
        margin: auto 0; display: grid; gap: 1.5vw; padding: 0 3%; z-index: 4;
        @media screen and (max-width: 699px) { margin: auto 0 20% 0; }
        @media screen and (max-height: 450px) { margin: auto 0; }
            

        .billboard__title-wrapper{
            width: 36%; 
            @media screen and (max-width: 599px) { display: grid; place-content: center; text-align: center;}
            &__image-title{
                text-transform: uppercase; color: $color-white; 
            }
        }

        .billboard__supplemental-wrapper{
            @media screen and (max-width: 600px) { margin: 0 auto; }
            .netflix-icon{ 
                width:calc(2vw + 24px); height:calc(2vh + 1rem); 
            }
            .billboard__supplemental-message{ color:$color-white; font-size: 1.4vw; }
        }
        
        .billboard__description-wrapper{
            width: 36%; 
            @media screen and (max-height: 450px) { display: none; }

            .billboard__description{ color:$color-white; font-size: 1.2vw; line-height: 1.2; font-weight: 400; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45); }
        }

        .billboard__button-container{  
            display: flex; gap: 1rem; white-space: nowrap;
            
            @media screen and (max-width: 600px){justify-content: center;}

            .disabled{ filter:brightness(60%); }
            
            .billboard__button-details,.billboard__button-play{cursor: pointer; padding: .5rem 1rem; font-weight: 600;}
            .billboard__button-play{ 
                background: $color-white; color: $primary-black; border: none;

                .billboard__button-play-icon{ margin: 0 .7rem 0 0; }
            }
            .billboard__button-details{ background-color: rgba(109, 109, 110, 0.7); color: $color-white;; border: none;}

            .billboard__button-details:hover,.billboard__button-play:hover{ filter: brightness(70%); transition: filter 0.2s ease;}
        }
    }

    &__volume-rating-conatiner{

        position: absolute; right: 0; bottom: 35%;
        display: flex; gap: 1rem; -webkit-box-align: center; align-items: center;
        -webkit-box-pack: end; justify-content: flex-end; -webkit-box-align: center;
        z-index: 7; color: $color-white;

        .billboard__volume-toggle{
            width: 2.4vw; height: 2.4vw;
            border: 3px solid $color-white; color: $color-white; 

            .billboard__volume-icon{width: 1.4vw; height: 1.4vw;}
        }

        .billboard__maturity-rating{
            display: flex; -webkit-box-align: center; align-items: center;
            padding: 0.5vw 3.5vw 0.5vw 0.8vw; height: 2.4vw;
            border: solid 3px $color-white; border-style: none none none solid; background-color: rgba(51,51,51,.6);
            box-sizing: border-box; font-size: 1.1vw;
        }
    }

    &__fade-bottom{ 
        position: absolute; left:0; bottom: 0rem; padding: 0; z-index: 3;
        width: 100%; height: 2.4rem; background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.51),$primary-black); 

        @media screen and (min-width: 600px){height: 7.4rem;}
    }
}