.mood-screen{
    width:100vw; height: 100vh; 
    display: grid; place-items: center;
    background: #131313; transition: opacity 0.5 ease;

    .mood-wrapper{
        // display: inline-block; 
        display: grid; gap: 2rem; margin: 0 auto;  place-items :center; 
        // flex-direction: column;  bborder: 1px solid white;
        
        .mood-categories-wrapper{
            display: flex;  justify-content: center; flex-flow:wrap;
            gap: 1rem;  margin: 0 auto;

            .category-wrapper{
                display: flex; flex-direction: column; place-items: center;
                flex: 0 0 10vw; flex-basis: min-content; gap: .5rem;
                

                .category-icon{
                    height: 10vw; width: 10vw;
                    max-height: 200px; max-width: 200px;
                    min-height: 84px; min-width: 84px;
                    background: #4447E2; transition: outline 0.2s ease;
                    border-radius: 50%;

                    &:hover{ outline: 3px solid white; }
                }

                .category-title{
                    width: 10vw; display: grid; place-items: center; 
                    .icon-title{color: #fff; text-align: center; overflow-wrap: break-word; font-size: clamp(1rem,0.8vw, 2rem);}
                }
                
            }

            
        }
        
    }
    
}

.remove-mood-screen{ 
    opacity: 0; pointer-events: none; 
    //z-index: -4;
    // visibility: hidden;
}
