.mood-screen{
    width:100vw; height: 100vh; 
    display: grid; place-items: center;
    background: #131313; transition: opacity 0.5 ease;

    .mood-wrapper{
        // display: inline-block; 
        display: grid; gap: 2rem; margin: 0 auto;  place-items :center; 
        // flex-direction: column;  bborder: 1px solid white;
        
        .mood-categories-wrapper{
            display: flex;  
            gap: 1rem; flex-flow:wrap; margin: 0 auto;
            // display: grid; place-content :center;
            // grid-auto-flow: column; 
            // grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
            // border: 1px solid white;

            .category-wrapper{
                // width: 10vw; padding: 1rem 0; 
                display: grid; place-items: center; 
                grid-template-rows: min-content; gap: .5rem;
                

                .category-icon{
                    height: 10vw; width: 10vw;
                    max-height: 200px; max-width: 200px;
                    min-height: 84px; min-width: 84px;
                    background: #4447E2; transition: outline 0.2s ease;
                    border-radius: 50%;

                    &:hover{ outline: 3px solid white; }
                }

                .category-title{
                    width: 10vw; display: grid; place-items: center; 
                    .icon-title{color: #fff; text-align: center; overflow-wrap: break-word}
                }
                
            }

            
        }
        
    }
    
}

.remove-mood-screen{ 
    opacity: 0; pointer-events: none; 
    //z-index: -4;
    // visibility: hidden;
}
