.media-container{
    flex-grow: 1; margin: 0;  position:relative; margin: 3vw 0 0 0;
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s, -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s, -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s, -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s; 

    .title-wrapper{ 
        h2{
            line-height: 1.25vw; font-size: clamp(1em, 3vw, 1.5em); font-weight: 400;
        }
      }

    .media-row{
        cursor: pointer; scroll-snap-type: mandatory; 


        @media screen and (min-width: 680px){ grid-auto-columns:13%;} 
        @media screen and (max-width: 1180px){
            &::-webkit-scrollbar { display: none; }
            -ms-overflow-style: none;  scrollbar-width: none; 
        }

        
        display: grid; grid-auto-flow: column; 
        grid-auto-columns:37%;
        

        gap: 1rem;
        scroll-behavior: smooth;
        padding: 0 1rem; margin: 0; overflow-x: scroll; overflow-y: hidden;

        .media-poster{  
            margin: 1rem 0; position: relative;

            .netflix-icon{ 
                position: absolute; top: .5rem; left: .5rem; 
                width: 5vw; height: 5vw;
                @media screen and (min-width: 800px){ width: 2vw; height: 2vw; }
            }

            &:hover { transform: scale(1.4); transition: all 500ms ease-in-out 100ms; z-index: 4; }
        }
        
        
        
    }
    
}