@import '../../mainStyles';

.poster-gallery-container{
    padding: 50px 0;

    .media-container{
        margin: 0;

        .title-wrapper{ padding: 0; margin-bottom: 10px; }

        .media-row-wrapper{

            .arrow{
                display: none;
            }

            .poster-gallery{ 
                padding: 0; overflow: visible; width: 100%;
                grid-auto-flow: row; grid-template-columns: repeat(auto-fill, 31%);

                @media screen and (min-width: 680px) and (max-width: 991px){  grid-template-columns: repeat(auto-fill, 23%); }
                @media screen and (min-width: 992px) and (max-width: 1199px){  grid-template-columns: repeat(auto-fill, 19%); }
                @media screen and (max-height: 450px){ grid-template-columns: repeat(auto-fill, 23%); }
                @media screen and (min-width: 1200px) { grid-template-columns: repeat(auto-fill, 16%); }
                @media screen and (min-width: 2000px) { grid-template-columns: repeat(auto-fill, 9.5%); }
                

                .media-poster{
                    transition: all 200ms ease; background-color: #212121; text-align: center;
                    &:hover{ outline: 3px solid $primary-red; transform: scaleX(1.2) scaleY(1.2); z-index: 10; }
                }
            }
        }

        .error-message-container{ position: relative; width: 100%; display:flex; justify-content: center;}
    }

}