@import '../../mainStyles';

.poster-gallery-container{
    padding: 50px 0;

    .media-container{
        margin: 0;

        &:hover .pagination-indicator {
            display: none;
        }

        .title-wrapper{ padding: 0; margin-bottom: 10px; }

        .media-row-wrapper{

            .arrow{
                display: none;
            }

            .pagination-indicator{ display: none;}

            .poster-gallery{ 
                padding: 0; overflow: visible; width: 100%;
                flex-wrap: wrap;
                
                @media screen and (min-width: 1200px){ --total-posters-in-viewport: 5.5; }
                @media screen and (min-width: 1600px){ --total-posters-in-viewport: 6.4; }
                @media screen and (min-width: 2000px){ --total-posters-in-viewport: 7.6; }


                .media-poster{
                    transition: all 200ms ease; background-color: #212121; 
                    text-align: center; margin: $smaller-gap;

                    &:hover{ outline: 3px solid $primary-red; transform: scaleX(1.2) scaleY(1.2); z-index: 10; }
                }
            }
        }

        .error-message-container{ position: relative; width: 100%; display:flex; justify-content: center;}
    }

}