@import '../../mainStyles'; 

*,
*::after,
*::before { margin: 0; padding: 0; box-sizing: inherit; }

.netflix-large-logo, .netflix-small-logo{ position: absolute; top: -.8rem; }
.netflix-small-logo{width: 40px; height: 30px}; 
.netflix-large-logo{width: 90px; }; 

.nav{
    position: relative; margin-left: auto; color: $color-white;
    display: flex; align-items: center; 
    
    &-checkbox{display :none; }
    &-button{
        position:fixed; top: .35rem; right: 4%; 
        width: 3rem; height: 3rem; z-index: 2000;
        text-align: center; cursor: pointer; border-radius: 50%;        
    }

    &-background {
        position:fixed; top: -3rem; right: 0;
        width: 3rem; height: 3rem;
        border-radius: 50%; z-index: 1000; opacity: 1;
        background-image: radial-gradient($primary-black, $primary-black);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &-navigation {
        height: 100%; width: 0;
        position: fixed; top: 0; left: 0;
        z-index: 1500; opacity: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &-list {
        position: absolute; top: 50%; left: 50%; width: 100%;
        transform: translate(-50%,-50%); list-style: none;
        text-align: center;  
    }

    &-link {

        &:link,
        &:visited {
            display: inline-block; font-size: 1.8rem; font-weight: 300;
            padding: 1rem 2rem; color: $color-white;
            text-decoration: none; text-transform: uppercase;
            
            @media screen and (min-width: 800px) { font-size: 2.5rem; }
        }
        
        &:hover,
        &:active { background-position: 100%; color: $primary-red; transform: translateX(1rem);}

    }

    &-checkbox:checked ~ &-background { transform: scale(80); }
    &-checkbox:checked ~ &-navigation { opacity: 1; width: 100%; }

    &-icon {
        position: relative; margin-top: 1.5rem;
        width: 2rem; height: 2px;

        &,
        &::before,
        &::after { background-color: $color-white; display: inline-block; }

        &::before,
        &::after { width: 1rem; height: 2px; content: ""; position: absolute;  transition: all .2s; }

        &::before{ right: 0; }
        &::after{left: 0;}

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &-button:hover &-icon::before { top: -1rem; }
    &-button:hover &-icon::after {top: 1rem;}

    &-checkbox:checked + &-button &-icon::before, &-checkbox:checked + &-button &-icon::after { width: 2rem; height: 2px; left: 0;} 
    &-checkbox:checked + &-button &-icon { background-color: transparent; }
    &-checkbox:checked + &-button &-icon::before { top: 0; transform: rotate(135deg); }
    &-checkbox:checked + &-button &-icon::after { top: 0; transform: rotate(-135deg); }


    &-avatar-wrapper{ 
        position: fixed; right: 4rem; top: 1rem; cursor: pointer;
        @media screen and (min-width: 900px) { right :1rem; }
        .nav-avatar{ width: 32px; height: 32px; object-fit: contain; border-radius: 4px; }
        .profile{
            display: flex; 
    
            .dropdown-arrow{ position: relative; margin-top: auto;}
        }

    
        .menu-dropdown{
            position: relative; font-size: 12px; display: none;

            .dropup-arrow{ position: relative; left: 10px;}

            .settings{

                position: absolute; margin-top: -13px;  width: 150px; right: 10px;
                border: solid 1px rgba(255,255,255,.15); background-color: rgba(0,0,0,.95);
                line-height: 25px;

                .settings-list{
                    list-style: none; 

                    & > *:not(:first-child):hover{ text-decoration: underline; }

                    .profile-image-wrapper{
                        display: flex; margin-top: 10px;
                        .dropdown-image{
                            width: 25px; height: 25px;
                            margin-inline: 10px; border-radius: 5px;
                        }
                    }

                    .settings-list-item{

                        &:nth-child(3){
                            position: relative; border-top: solid 1px rgba(255,255,255,.25);
                        }

                        a{
                            color: inherit; text-decoration: none;
                            padding: 10px;
                            display: flex; align-items: center; gap: 5px;
                            
                            .dropdown-icon{
                                width: 1rem; height: 1rem;
                            }
                        }
                        
                    }
                }
            }
        }

        &:hover .menu-dropdown{ display: block; transition: all 250ms ease; }
        &:hover  .dropdown-arrow{ transform: rotate(180deg); transition: all 450ms ease;  }
        &:not(:hover)  .dropdown-arrow{ transition: all 350ms ease; }
    }

}


.full-nav{ position: absolute; left: 10rem; top: -.7rem; min-width: 350px; font-weight: 300; }
